*{
  margin: 0;
  padding: 0;
  box-sizing: border-boxf;
  color:lavenderblush;
  font-size: large;
}
body{
  background-image: linear-gradient(to right, rgb(20, 1, 45) ,rgb(1, 1, 35) ,rgb(1, 1, 33) , rgb(30, 2, 52) );
  display: flex;
  justify-content: center;
  text-align: center;
}
.app{
text-align: center;

}
input{
  margin-top: 1rem;
  padding: .5rem;
  border: 2px solid greenyellow;
  border-radius: 0 12px 0 12px ;
  background: transparent;
}
.result{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.city{
  font-size: 3rem;
}
.weather{
  border: 2px solid greenyellow ;
  border-radius: 12px;
  width: fit-content;
  padding: .2rem .5rem;
  margin-top: .5rem;
  font-size: larger;
}